<div class="modal fade" id="itemSearchModal" tabindex="-1" aria-labelledby="itemSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemSearchModalLabel">품목 검색</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 g-3 align-items-center">
                    <label for="itemSearchModalInput" class="col-sm-2 col-form-label">검색</label>
                    <div class="col-sm-10">
                        <input type="text" id="itemSearchModalInput" class="form-control form-input" placeholder="품목을 입력하세요">
                    </div>
                </div>
                <div id="itemSearchTable"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/modal/itemSearchModal.js"></script>