<div class="modal fade" id="itemSearchModal" tabindex="-1" aria-labelledby="itemSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemSearchModalLabel">품목 검색</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 g-3 align-items-center">
                    <label for="itemSearchModalInput" class="col-sm-2 col-form-label">검색</label>
                    <div class="col-sm-10">
                        <input type="text" id="itemSearchModalInput" class="form-control form-input" placeholder="품목을 입력하세요">
                    </div>
                </div>
                <div id="itemSearchTable"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    const itemSearchModal = document.getElementById('itemSearchModal')

    var originTag = []
    itemSearchModal.addEventListener('shown.bs.modal', event => {
        const firstInput = event.target.querySelector('.form-input');
        if (firstInput) {
            firstInput.focus();
        }
        itemSearchTable.setData("/itemManage", originTag[0])
        .then(function(result){
            console.log(result)
            const rows = itemSearchTable.getRows();
            if(rows.length > 0){
                rows[0].select();
            }
        })
    })
    const itemSearch = document.getElementById("itemSearch")

    if (itemSearch) {
        itemSearch.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                itemModalShow(itemSearch.value, itemSearch, "input")
            }
        })
    }

    function itemModalShow(value, tag, status) {
        originTag = [value, tag, status]
        bootstrap.Modal.getInstance(itemSearchModal).show();
    }

    var itemSearchTable = new Tabulator("#itemSearchTable", {
        height: "20rem",
        layout:"fitData",
        ajaxURL:"/itemManage",
        columns:[
            {title:"품목코드", field:"code"},
            {title:"품목명", field:"name"},
        ],
    });

    itemSearchTable.on("rowClick", function(e, row){
        row.getTable().deselectRow();
        row.select();
    });

    itemSearchTable.on("rowDblClick", function(e, row){
        bootstrap.Modal.getInstance(itemSearchModal).hide();
        itemSearchResult(row.getData())
    });

    function itemSearchResult (data) {
        let tag = originTag[1]
        let stat = originTag[2]
        if(stat === "input") {
            tag.value = data.itemName;
        }else{
            tag.getRow().update({
                "code" : data.code,
                "name" : data.name,
                "specification" : data.specification,
                "unitPrice" : data.unitPrice
            })
        }
    }

    const itemSearchModalInput = document.getElementById('itemSearchModalInput')

    itemSearchModalInput.addEventListener("keypress", function (e) {
        let searchWord = this.value
        if(searchWord.length > 0){
            searchWord = "/"+searchWord
        }
        if(e.key === "Enter"){
            itemSearchTable.setData("/itemManage"+searchWord)
            .then(function(result){
                console.log(result)
                const rows = itemSearchTable.getRows();
                if(rows.length > 0){
                    rows[0].select();
                }

            })
        }
    })
</script>