<div class="modal fade" id="productOrderSearchModal" tabindex="-1" aria-labelledby="productOrderSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productOrderSearchModalLabel">품목 검색</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="orderDate" class="col-sm-2 col-form-label">지시일</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control form-input todayDate" id="orderDate">
                    </div>
                    <label for="dueDate" class="col-sm-2 col-form-label">마감일</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control form-input tomorrowDate" id="dueDate">
                    </div>
                </div>
                <div id="productOrderSearchTable"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="addBtn" class="btn btn-primary addedModal">추가</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/modal/productOrderSearchModal.js"></script>