<div class="modal fade" id="productionPlanSearchModal" tabindex="-1" aria-labelledby="productionPlanSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productOrderSearchModalLabel">작업계획 검색</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="productionPlanSearchTable"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="/js/modal/productionPlanSearchModal.js"></script>