<div class="modal fade" id="pwChangeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">비밀번호 변경</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-input" id="mid" th:value="${#authentication.principal.mid}">

                <div class="mb-3 row">
                    <label for="mpw" class="col-sm-4 col-form-label">새 비밀번호 입력</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control form-input" id="mpw">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="confirmPassword" class="col-sm-4 col-form-label">새 비밀번호 확인</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control form-input" id="confirmPassword">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" id="pwChangeBtn" class="btn btn-primary">수정</button>
            </div>
        </div>
    </div>
</div>

<script>
    const pwChangeModal = document.getElementById('pwChangeModal')
    const newPwChangeModal = new bootstrap.Modal(pwChangeModal);

    pwChangeModal.addEventListener('shown.bs.modal', event => {
        const firstInput = event.target.querySelector('.form-input');
        if (firstInput) {
            firstInput.focus();
        }
    })
    document.getElementById("pwChangeBtn").addEventListener("click", function () {
        const data = inputToJson("form-input")

        var newPassword = data.mpw;
        var confirmPassword = data.confirmPassword;

        // 현재 비밀번호, 새 비밀번호, 비밀번호 확인 필드가 비어 있는지 확인
        if (newPassword.trim() === '' || confirmPassword.trim() === '') {
            alert("모든 필드를 입력하세요.");
            return false;
        }

        // 새 비밀번호와 비밀번호 확인이 일치하는지 확인
        if (newPassword !== confirmPassword) {
            alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            return false;
        }

        axios.put("/member/password", data)
            .then(function (response) {
                newPwChangeModal.hide();
                alert("변경되었습니다.")
            }).catch(function (error) {
        })
    })

</script>