<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div class="d-flex justify-content-between">
        <div class="w-50 pe-2">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <span class="page-title fw-bold bg-light p-1 fs-2 me-2">자재 입고 관리</span>
                <div class="mx-2">
                    <div class="input-group">
                        <label class="input-group-text">발주일</label>
                        <input type="date" id="startDate" class="form-control todayDate" aria-label="startDate">
                        <span class="input-group-text">~</span>
                        <input type="date" id="endDate" class="form-control todayDate" aria-label="endDate">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">거래처</span>
                        <input type="text" id="customerSearch" class="form-control" aria-label="customerSearch">
                    </div>
                </div>
            </div>
            <div id="orderMasterTable"></div>
        </div>
        <div class="w-50">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <button type="button" id="wholeBtn" class="btn btn-primary mx-1">전체 입고</button>
            </div>
            <div id="orderSubTable" ></div>
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <button type="button" id="saveBtn" class="btn btn-primary mx-1">저장</button>
            </div>
            <div id="warehousingTable" ></div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/materialManage/materialWarehousing.js}"></script>
</html>