<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
        <span class="page-title fw-bold bg-light p-1 fs-2 me-3">자재 출고 현황</span>
        <button type="button" id="searchBtn" class="btn btn-primary m-1">검색</button>
        <div class="mx-2">
            <div class="input-group">
                <label class="input-group-text">출고일</label>
                <input type="date" id="startDate" class="form-control todayDate" aria-label="startDate">
                <span class="input-group-text">~</span>
                <input type="date" id="endDate" class="form-control todayDate" aria-label="endDate">
            </div>
            <div class="input-group">
                <span class="input-group-text">거래처</span>
                <input type="text" id="customerSearch" class="form-control" aria-label="customerSearch">
            </div>
        </div>
    </div>
    <div id="materialDeliveryTable"></div>
</th:block>
<script layout:fragment="script" th:inline="javascript">

    let materialDeliveryTable = new Tabulator("#materialDeliveryTable", {
        height: "45rem",
        layout:"fitData",
        columns:[
            {title:"순번", field:"rownum", hozAlign: "center", formatter: "rownum"},
            {title:"lot번호", field:"lotMasterLotNo"},
            {title:"품목코드", field:"itemCode"},
            {title:"품목명", field:"itemName"},
            {title:"규격", field:"itemSpecification"},
            {title:"수량", field:"quantity"},
        ]
    });

    document.getElementById("searchBtn").addEventListener("click", function () {
        materialDeliveryTable.setData("/materialDelivery")
    })

</script>
</html>