<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div class="d-flex justify-content-between">
        <div class="w-50 pe-2">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <span class="page-title fw-bold bg-light p-1 fs-2 me-2">제품 입고 관리</span>
            </div>
            <div id="itemTable"></div>
        </div>
        <div class="w-50">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <button type="button" id="saveBtn" class="btn btn-primary mx-1">저장</button>
            </div>
            <div id="lotTable"></div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/productManage/productWarehousing.js}"></script>
</html>