<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div class="d-flex justify-content-between">
        <div class="w-50 pe-2">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <span class="page-title fw-bold bg-light p-1 fs-2 me-3">BOM 관리</span>
                <div>
                    <div class="input-group">
                        <label for="categoryId" class="input-group-text">분류</label>
                        <select id="categoryId" class="form-select form-input">
                            <option value="" selected>전체</option>
                            <option th:each="category : ${categoryList}" th:value="${category.id}"
                                    th:text="${category.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="itemTable"></div>
        </div>
        <div class="w-50">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <button type="button" id="addBomModalBtn" class="btn btn-primary mx-1">bom 추가</button>
                <button type="button" id="deleteBomBtn" class="btn btn-primary mx-1">삭제</button>
            </div>
            <div id="bomManageTable"></div>
        </div>
    </div>

    <div class="modal fade" id="addBomModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bom 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <input type="hidden" class="form-input" id="parentId">
                        <label for="parentItemCode" class="col-sm-3 col-form-label text-danger">상위 / 코드</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-input" id="parentItemCode" readonly>
                        </div>
                        <label for="parentItemName" class="col-sm-2 col-form-label text-danger">품명</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-input" id="parentItemName" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <input type="hidden" class="form-input" id="itemCode">
                        <label for="itemName" class="col-sm-2 col-form-label">품명</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-input" id="itemName" readonly>
                        </div>
                        <label for="quantity" class="col-sm-2 col-form-label">수량</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control form-input" id="quantity" value="1">
                        </div>
                    </div>
                    <div id="bomChildTable"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" id="addBomBtn" class="btn btn-primary">추가</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/standardManage/bomManage.js}"></script>
</html>