<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
        <span class="page-title fw-bold bg-light p-1 fs-2 me-3">거래처 관리</span>
        <button type="button" id="addedModalBtn" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#customerModal">추가</button>
        <button type="button" id="modifiedModalBtn" class="btn btn-primary mx-1">수정</button>
    </div>
    <div id="customerManageTable"></div>

    <div class="modal fade" id="customerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">거래처 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="code" class="col-sm-4 col-form-label">거래처 코드</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="code">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label">거래처명</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="category" class="col-sm-4 col-form-label">분류</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="category">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="registrationNumber" class="col-sm-4 col-form-label">사업자 등록번호</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="registrationNumber">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="address" class="col-sm-4 col-form-label">주소</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="address">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="manager" class="col-sm-4 col-form-label">담당자</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="manager">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="managerPhone" class="col-sm-4 col-form-label">담당자 전화번호</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="managerPhone">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="managerEmail" class="col-sm-4 col-form-label">담당자 이메일</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-input" id="managerEmail">
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="active">사용유무</label>
                        <input id="active" class="form-check-input form-input" type="checkbox" value="" checked>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addBtn" class="btn btn-primary addedModal d-none">추가</button>
                    <button type="button" id="modifyBtn" class="btn btn-primary modifiedModal d-none">수정</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/standardManage/customerManage.js}"></script>
</html>