<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<div layout:fragment="Content">
    <div style="height: 5rem; background-color: lightgray;">
        <span>메뉴 관리</span>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMemberModal">추가</button>
        <button type="button" id="deleteBtn" class="btn btn-primary">삭제</button>
    </div>
    <div id="memberTable"></div>

    <div class="modal fade" id="addMemberModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">메뉴 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>
                        유저 id
                        <input id="parentId">
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" id="addBtn" class="btn btn-primary">추가</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">

    var memberTable = new Tabulator("#memberTable", {
        height: "45rem",
        ajaxURL:"/member",
        layout:"fitData",
        selectableRows: "1",
        editTriggerEvent:"dblclick",
        columns:[
            {title:"id", field:"mid"},
            {title:"비밀번호", field:"mpw", editor:"input"},
            {title:"이메일", field:"email", editor:"input"}
        ],
    });

    memberTable.on("cellEdited", function(cell){
        const rowData = cell.getRow().getData();

        axios.put("/menu/"+rowData.menuId, rowData)
            .then(function (response) {
                console.log(response)
            }).catch(function (error) {
                console.log(error)
            })
    });

    const addMemberModal = document.getElementById('addMemberModal')

    document.getElementById("addBtn").addEventListener("click", function () {
        const data = {
            "parentId" : document.getElementById('parentId').value,
            "menuName" : document.getElementById('menuName').value,
            "url" : document.getElementById('url').value
        }
        axios.post("/member", data)
            .then(function (response) {
                console.log(response)
                bootstrap.Modal.getInstance(addMemberModal).hide();
                memberTable.replaceData("/menu")
            }).catch(function (error) {
            console.log(error)
        })
    })

    addMemberModal.addEventListener('hidden.bs.modal', event => {
        document.getElementById('parentId').value = null;
    })
</script>
</html>