<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
        <span class="page-title fw-bold bg-light p-1 fs-2 me-3">사용자 관리</span>
        <button type="button" id="addedModalBtn" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#memberModal">추가</button>
        <button type="button" id="modifiedModalBtn" class="btn btn-primary mx-1">수정</button>
    </div>
    <div id="memberTable"></div>

    <div class="modal fade" id="memberModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">사용자 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="mid" class="col-sm-3 col-form-label">ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-input" id="mid">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="mpw" class="col-sm-3 col-form-label">비밀번호</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control form-input d-none addedModal" id="mpw">
                            <button id="pwReset" class="btn btn-secondary d-none modifiedModal">1111로 초기화</button>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="mname" class="col-sm-3 col-form-label">사용자명</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-input" id="mname">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="userTypeId" class="col-sm-3 col-form-label">사용자타입</label>
                        <div class="col-sm-9">
                            <select id="userTypeId" class="form-select form-input">
                                <option th:each="userType : ${userTypeList}" th:value="${userType.id}"
                                        th:text="${userType.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="active">사용유무</label>
                        <input id="active" class="form-check-input form-input" type="checkbox" value="" checked>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addBtn" class="btn btn-primary addedModal d-none">추가</button>
                    <button type="button" id="modifyBtn" class="btn btn-primary modifiedModal d-none">수정</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/standardManage/memberManage.js}"></script>
</html>