<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout2.html}">
<th:block layout:fragment="Content">
    <div id="productionActivity" class="container-fluid d-flex" style="height: 100vh; flex-direction: column;">
        <div class="d-flex align-items-center" style="height: 10vh;">
            <div class="col-3">
                <button type="button" id="fullscreen-btn" class="btn btn-outline-success fs-3">전체 화면</button>
            </div>
            <div class="col-6">
                <p class="text-center display-4">생산 활동</p>
            </div>
            <div class="col-3">
                <p id="real-time" class="text-center fs-4"></p>
            </div>
        </div>
        <div class="card" style="height: 45vh;">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">기본 설비</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="planNo" placeholder="작업번호" disabled>
                            <label for="planNo">작업번호</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="orderSubItemCode" placeholder="품목코드" readonly>
                            <label for="orderSubItemCode">품목코드</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="orderSubItemName" placeholder="품목명" readonly>
                            <label for="orderSubItemName">품목명</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="orderSubItemSpecification" placeholder="규격" readonly>
                            <label for="orderSubItemSpecification">규격</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="orderSubItemCategoryName" placeholder="분휴" readonly>
                            <label for="orderSubItemCategoryName">분류</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="orderQuantity" placeholder="지시수량" readonly>
                            <label for="orderQuantity">지시수량</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control form-input" id="productionQuantity" placeholder="생산수량" readonly>
                            <label for="productionQuantity">생산수량</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between p-2" style="height: 10vh;">
            <button id="workStartBtn" class="btn btn-primary col-2 fs-4" data-bs-toggle="modal" data-bs-target="#productionPlanSearchModal">작업지시 선택</button>
            <button class="btn btn-primary col-2 fs-4" onclick="window.open('/productionManage/productionActivityTest', '_blank', 'width=800,height=600')">작업 테스트</button>
            <button id="workCompleteBtn" class="btn btn-primary col-2 fs-4">작업 완료</button>
        </div>
        <div id="productionActivityTable" class="fs-3"></div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/productionManage/productionActivity.js}"></script>
</html>
