<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout2.html}">
<th:block layout:fragment="Content">
    <div class="container-fluid d-flex" style="height: 100vh; flex-direction: column;">
        <div class="d-flex align-items-center" style="height: 10vh;">
            <div class="col-3">
                <button type="button" id="fullscreen-btn" class="btn btn-outline-success fs-3">전체 화면</button>
            </div>
            <div class="col-6">
                <p class="text-center display-4">생산 활동</p>
            </div>
            <div class="col-3">
                <p id="real-time" class="text-center fs-4"></p>
            </div>
        </div>
        <div class="card" style="height: 45vh;">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">기본 설비</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="planNo" placeholder="작업번호" disabled>
                            <label for="planNo">작업번호</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="itemCode" placeholder="품목코드" readonly>
                            <label for="itemCode">품목코드</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="itemName" placeholder="품목명" readonly>
                            <label for="itemName">품목명</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="itemSpecification" placeholder="규격" readonly>
                            <label for="itemSpecification">규격</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="itemCategory" placeholder="분휴" readonly>
                            <label for="itemCategory">분류</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3 fs-5">
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="orderQuantity" placeholder="지시수량" readonly>
                            <label for="orderQuantity">지시수량</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="productionQuantity" placeholder="생산수량" readonly>
                            <label for="productionQuantity">생산수량</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between p-2" style="height: 10vh;">
            <button class="btn btn-primary col-2 fs-4" id="orderSearchBtn" data-bs-toggle="modal" data-bs-target="#productOrderSearchModal">작업지시 선택</button>
            <button class="btn btn-primary col-2 fs-4">작업 테스트</button>
            <button class="btn btn-primary col-2 fs-4">작업 완료</button>
        </div>
        <div id="productionPlanTable" class="fs-3"></div>
    </div>
</th:block>
<script layout:fragment="script" th:inline="javascript">

    var productionPlanTable = new Tabulator("#productionPlanTable", {
        height: "34vh",
        ajaxURL:"/productionPlan",
        layout:"fitData",
        columns:[
            {title:"순번", field:"rownum", hozAlign: "center", formatter: "rownum"},
            {title:"계획번호", field:"planNo"},
            {title:"수주번호", field:"orderNo"},
            {title:"거래처코드", field:"customerCode"},
            {title:"거래처명", field:"customerName"},
            {title:"품목코드", field:"itemCode"},
            {title:"품목명", field:"name"},
            {title:"지시수량", field:"quantity"}
        ],
    });

    const fullscreenBtn = document.getElementById("fullscreen-btn");

    // 전체 화면 토글 함수
    function toggleFullScreen() {
        if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen(); // 전체 화면으로 진입
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen(); // 전체 화면에서 나가기
            }
        }
    }

    // 전체 화면 버튼에 클릭 이벤트 리스너 추가
    fullscreenBtn.addEventListener("click", toggleFullScreen);


    function updateRealTime() {
        const dateTime = luxon.DateTime.now().setLocale("kr");
        document.getElementById("real-time").textContent = dateTime.toLocaleString({
            weekday: "long",
            month: "long",
            day: "2-digit",
            year: "numeric",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
            hour12: true // 오전/오후 표시
        });
    }

    // 페이지가 로드될 때와 1초마다 시간을 업데이트합니다.
    document.addEventListener("DOMContentLoaded", function() {
        updateRealTime();
        setInterval(updateRealTime, 1000);
    });

    function getModalData(data){
        console.log(data);
        document.getElementById("planNo").value = data.planNo;
        document.getElementById("itemCode").value = data.itemCode;
        document.getElementById("itemName").value = data.itemName;
        document.getElementById("itemSpecification").value = data.itemSpecification;
        document.getElementById("itemCategory").value = data.itemCategory;
        document.getElementById("itemOrderQuantity").value = data.itemOrderQuantity;
    }

</script>
</html>