<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">
    <div id="productionRecord" class="top-bar bg-dark-subtle d-flex align-items-center p-2">
        <span class="page-title fw-bold bg-light p-1 fs-2 me-2">생산 실적</span>
        <button type="button" id="searchRecordBtn" class="btn btn-primary m-1">검색</button>
        <div class="mx-2">
            <div class="input-group">
                <label class="input-group-text">지시일</label>
                <input type="date" id="startDate" class="form-control todayDate form-input" aria-label="startDate">
                <span class="input-group-text">~</span>
                <input type="date" id="endDate" class="form-control tomorrowDate form-input" aria-label="endDate">
            </div>
            <div class="input-group">
                <span class="input-group-text">품목</span>
                <input type="text" id="keyword" class="form-control itemSearch form-input" aria-label="itemSearch">
            </div>
        </div>
    </div>
    <div id="productionRecordTable"></div>
</th:block>
<script layout:fragment="script" th:inline="javascript">

    let productionRecordTable = new Tabulator("#productionRecordTable", {
        height: "45rem",
        layout:"fitData",
        columns:[
            {title:"순번", field:"rownum", hozAlign: "center", formatter: "rownum"},
            {title:"계획번호", field:"planNo"},
            {title:"수주번호", field:"orderNo"},
            {title:"거래처코드", field:"orderSubCustomerCode"},
            {title:"거래처명", field:"orderSubCustomerName"},
            {title:"품목코드", field:"orderSubItemCode"},
            {title:"품목코드", field:"orderSubItemName"},
            {title:"규격", field:"orderSubItemSpecification"},
            {title:"지시일", field:"orderDate"},
            {title:"시작일", field:"startDate"},
            {title:"마감일", field:"dueDate"},
            {title:"종료일", field:"endDate"},
            {title:"지시수량", field:"quantity", hozAlign: "right"}
        ]
    });

    document.getElementById("searchRecordBtn").addEventListener("click", function () {
        const data = inputToJson("#productionRecord .form-input")
        productionRecordTable.setData("/productionRecord", data)
    })

</script>
</html>