<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="Content">

    <div class="d-flex justify-content-between">
        <div class="w-50 pe-2">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <span class="page-title fw-bold bg-light p-1 fs-2 me-3">공통 코드 관리</span>
                <button type="button" id="parentAddBtn" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#commonCodeModal">상위 코드 추가</button>
            </div>
            <div id="commonCodeParentTable"></div>
        </div>
        <div class="w-50 pe-2">
            <div class="top-bar bg-dark-subtle d-flex align-items-center p-2">
                <button type="button" id="childAddBtn" class="btn btn-primary mx-1">하위 코드 추가</button>
            </div>
            <div id="commonCodeChildTable" ></div>
        </div>
    </div>

    <div class="modal fade" id="commonCodeModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">코드 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="parentId" class="form-input">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-3 col-form-label">코드명</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-input" id="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="description" class="col-sm-3 col-form-label">비고</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-input" id="description">
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="active">사용유무</label>
                        <input type="checkbox" class="form-check-input form-input" id="active" checked>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" id="addBtn" class="btn btn-primary">추가</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script layout:fragment="script" th:src="@{/js/systemManage/commonCodeManage.js}"></script>
</html>