<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="align-middle">
<div class="container-fluid d-flex justify-content-center" style="height: 100vh">
    <div class="card align-self-center">
        <div class="card-header">
            LOGIN Page
        </div>
        <div class="card-body">
            <th:block th:if="${param.logout != null}">
                <h1>Logout.........</h1>
            </th:block>
            <form id="registerForm" action="/login" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input type="text" class="form-control" name="username" placeholder="USER ID">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">패스워드</span>
                    <input type="password" class="form-control" name="password" placeholder="PASSWORD">
                </div>
                <div class="my-2">
                    <button type="submit" id="guestBtn" class="btn btn-primary">guest로 접속</button>
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("guestBtn").addEventListener("click", function () {
        const username = document.getElementsByName('username')[0];
        const password = document.getElementsByName('password')[0];
        username.value = "guest"
        password.value = "1111"
    })
</script>
</body>
</html>